@import '../../../theme/vars';

aside {
  background: white !important;
  box-shadow: 15px 20px 20px 0px #0000000a;
}

.logo {
  text-align: center;
  margin: 20px 0;

  h3 {
    color: $primary !important;
    font-weight: bold;
  }
}

.ant-layout-sider-trigger {
  background-color: white !important;
  color: black !important
}

.ant-menu-item {
  display: flex !important;
  align-items: center;
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  font-size: 20px !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #673ab712 !important;
}

.ant-menu-item:hover {
  color: $primary !important;
}

.ant-menu-item a:hover {
  color: $primary !important;
  text-decoration: none !important;
}

.ant-menu-item-selected {
  color: $primary !important;
}

.ant-menu-item-selected:hover {
  color: $primary !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: $primary !important;
  text-decoration: none !important;
}

.ant-menu-item::after {
  border-right: 3px solid $primary !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none !important;
}