.recovery {
  .title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
  }

  .login-form-button {
    width: 100%;
  }

  .register-option {
    text-align: center;
  }
}