@import './vars.scss';

button:not(.ant-table-row-expand-icon):not(.ant-switch) {
  padding: 9px 16px !important;
  border-radius: 8px !important;
  height: auto !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.ant-btn:hover {
  color: $primary-accent !important;
  border-color: $primary-accent !important;
}

.ant-btn-primary {
  color: #fff;
  background-color: $primary !important;
  border-color: $primary !important;
  text-shadow: none !important;
  box-shadow: 0 2px 20px rgba(103, 58, 183, 0.15) !important;
}

.ant-btn-primary:hover {
  color: #fff !important;
  background-color: $primary-accent !important;
  border-color: $primary-accent !important;
  text-shadow: none !important;
  box-shadow: 0 2px 20px rgba(103, 58, 183, 0.25) !important;
}

.ant-switch-checked {
  background-color:  !important;
}