@import './_vars.scss';

.ant-card {
  box-shadow: 9px 10px 20px 0px rgba(0, 0, 0, 0.06) !important;
  border-radius: 8px !important;
}

.ant-card-actions {
  background: white !important;
  border-top: none !important;
}

.ant-card-actions>li>span:hover {
  color: $primary !important;
}