@import './vars.scss';

.anticon {
  font-size: 20px !important;
  margin: 0 5px !important;
}

.anticon.click {
  font-size: 20px !important;
  margin: 0 5px !important;
  cursor: pointer;

  :hover {
    color: $primary !important;
  }
}