.ant-input {
  border: 2px solid #d9d9d9 !important;
  border-radius: 8px !important;
}

.ant-input-affix-wrapper {
  border: 2px solid #d9d9d9 !important;
  border-radius: 8px !important;

  .ant-input {
    border: none !important;
    border-radius: 8px !important;
  }
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border: 2px solid #d9d9d9 !important;
  border-radius: 8px !important;
}

.ant-select-arrow span {
  position: absolute;
  left: -12px;
  top: -3px;
}

.ant-input-number {
  border: 2px solid #d9d9d9 !important;
  border-radius: 8px !important;
  width: 100% !important;
}

.ant-input-number-handler-down-inner {
  top: 0 !important;
  font-size: 10px !important;
}

.ant-input-number-handler-up-inner {
  top: 0 !important;
  font-size: 10px !important;
}