@import '_vars.scss';

.ant-steps-item-container {
  display: flex !important;
  justify-content: center !important;
}

.ant-steps-item-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: $secundary !important;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: $secundary !important;
}

.ant-steps-navigation .ant-steps-item::before {
  background-color: $secundary !important;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: $secundary !important;
  border-color: $secundary !important;
}

.ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process)>.ant-steps-item-container[role='button']:hover .ant-steps-item-icon {
  border-color: $secundary !important;
}

.ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process)>.ant-steps-item-container[role='button']:hover .ant-steps-item-icon .ant-steps-icon {
  color: $secundary !important;
}

.ant-steps .ant-steps-item:not(.ant-steps-item-active)>.ant-steps-item-container[role='button']:hover .ant-steps-item-title,
.ant-steps .ant-steps-item:not(.ant-steps-item-active)>.ant-steps-item-container[role='button']:hover .ant-steps-item-subtitle,
.ant-steps .ant-steps-item:not(.ant-steps-item-active)>.ant-steps-item-container[role='button']:hover .ant-steps-item-description {
  color: $secundary !important;
}