@import "./vars.scss";

.ant-tabs-content {
  min-height: 50vh !important;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: $secundary !important;
}

.ant-tabs-ink-bar {
  background-color: $secundary !important;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: $secundary-accent !important;
}

.ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
  padding: 9px 16px !important;
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0 16px 0 0 !important;
}