@import '_buttons.scss';
@import '_tabs.scss';
@import '_card.scss';
@import '_steps.scss';
@import '_tags.scss';
@import '_icons.scss';
@import '_table.scss';
@import '_input.scss';

.ant-popover-message-title {
  padding-left: 35px !important;
}

.ant-popover-buttons {
  display: flex;
  justify-content: flex-end;
}

.ant-layout-header {
  background: transparent !important;
}