@import '../../../../theme/vars.scss';

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-image: url('../../../../assets/svg/Messenger-pana.svg');
  background: url(/static/media/Messenger-pana.03c97302.svg) right bottom / 70% no-repeat $primary !important;

  h3 {
    color: white;
    font-weight: bold;
    margin: 0;
  }

  h6 {
    color: white;
    font-weight: lighter;
  }
}

.currency {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  h3 {
    color: $primary;
    font-weight: bold;
    margin: 0;
  }

  h6 {
    color: #6d6d6d;
    font-weight: lighter;
  }

  .currency-percent {
    top: 24px;
    left: 24px;
    position: absolute;

    padding: 3px 10px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    font-size: 12px;

    &.up {
      background: yellowgreen;
    }

    &.down {
      background: red;
    }
  }

  .currency-edit {
    top: 24px;
    right: 24px;
    position: absolute;
  }
}

.info-card {
  text-align: 'end';

  h2 {
    font-weight: bold;
    color: $primary;
    margin: 0 !important;
  }

  span.subtitle {
    color: #6d6d6d;
    font-size: 15px;
  }

  span.anticon {
    font-size: 50px !important;
  }
}