@import '../../../../theme/vars.scss';

.login {
  .title {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: $primary;
  }

  .socials {
    h1 {
      font-weight: bold;
      color: $primary
    }
  }

  .icons {
    color: $primary;

    .anticon {
      font-size: 30px !important;
    }
  }

  .login-form-button {
    width: 100%;
  }

  .alternative-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .social-icon {
      font-size: 35px;
      margin: 0.1rem 0.8rem;
    }
  }

  .register-option {
    padding-top: 1rem;
    font-weight: 500;
    text-align: center;

    div {
      color: #8c8c8c;
    }

    a {
      color: $primary;
    }
  }

  .recovery-pass {
    text-align: end;

    a {
      color: #8c8c8c !important;
    }
  }
}